.card {
  color: white;
  /* width: 100px;
  height: 200px; */
  display: block;
  padding-left: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  
/* {
  font: bold;
} */

/* p {
  font-size: 10px;
  line-height: 15px;
} */